<h3 class="card-header">Registro en LTX</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col">
                <label>Sexo</label>
                <select formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                    <option value=""></option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Sexo es requerido</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Nombre</label>
                <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Nombre es requerido</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Apellido</label>
                <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Apellido es requerido</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email es requerido</div>
                <div *ngIf="f.email.errors.email">Email no es correcto</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password es requerido</div>
                    <div *ngIf="f.password.errors.minlength">Password requiere almenos 6 caracteres</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Confirmar Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirmar Password es requerido</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords no son iguales</div>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col">
                <label>Cedula</label>
                <input type="text" formControlName="identificationNumber" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.identificationNumber.errors }" />
                <div *ngIf="submitted && f.identificationNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.identificationNumber.required">Cedula es requerido</div>


                </div>
            </div>
            <div class="form-group col">
                <label>Telefono</label>
                <input type="text" formControlName="phone" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Telefono es requerido</div>

                </div>
            </div>






        </div>



        <div class="form-row">
            <div class="form-group col">
                <label>Direccion</label>
                <input type="text" formControlName="address" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Direccion es requerido</div>

                </div>
            </div>
            <div class="form-group col">
                <label>Sector</label>


                <select ng-model="sector" formControlName="sector" class="form-control">



                    <option value="LIBERTADOR">LIBERTADOR</option>
                    <option value="BARUTA">BARUTA</option>
                    <option value="CHACAO">CHACAO</option>
                    <option value="HATILLO">HATILLO</option>
                    <option value="SUCRE">SUCRE</option>
                    <option value="MIRANDA">MIRANDA</option>
                    <option value="VARGAS">VARGAS</option>
                    <option value="ORIENTE">ORIENTE</option>
                    <option value="OCCIDENTE">OCCIDENTE</option>
                    <option value="CENTRO">CENTRO</option>
                    <option value="GUAYANA">GUAYANA</option>
                </select>
                <div *ngIf="submitted && f.sector.errors" class="invalid-feedback">
                    <div *ngIf="f.sector.required">Sector es requerido</div>


                </div>
            </div>

        </div>
        <div class="form-group">
            <label>Estado - Ciudad</label>


            <select ng-model="state" formControlName="state" class="form-control">


                <option *ngFor="let city of cities" value="{{city.id_ciudad}}">{{city.estado}} - {{city.ciudad}}
                </option>
            </select>




            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">Estado - Ciudad es requerido</div>

            </div>
        </div>




        <div class="form-group form-check">
            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label">Acepto Terminos & Condiciones</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Ts & Cs es requerido</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Registrar
            </button>
            <a routerLink="../login" href="" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>